.modal {
    height: 500px;
    width: 500px;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    text-align: center;
    position: fixed;
    top: 20vh;
    left: 37%;
    margin-left: -(50% of width);
    z-index: 300;
}

.modal_header {
    padding: 1rem;
    background: #1DA1F2;
    color: white;

}

.modal_header h1 {
    margin: 0;
    font-size: 1.25rem;
}

.modal_content {
    width: 100%;
    overflow: hidden;
}

.modal_actions {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

hr {
   width: 70%; 
}
/***
Tweet CSS
***/

